html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgb(205, 207, 228))) fixed

}

@font-face
{
    font-family: "IranianSans";
    src: url(../font/IranianSansWeb-Regular.woff);
}

@font-face
{
    font-family: "IranianSansLight";
    src: url(../font/iranSansLight.woff);
}


@font-face
{
	font-family: "IranianSansZ";
	src: url(../font/iransansz-webfont.eot);
	src: url(../font/iransansz-webfont.woff) format('woff'),
	url(../font/iransansz-webfont.ttf) format('truetype');

}

body
{
    direction: rtl;
    padding-top: 80px;
}



body,
input,
a,
th, td, table, 
p, span, div, li
{
    font-family: IranianSansZ, Arial !important;
    font-size: 10pt;
}

.footer {
    width: 100%;
    height: 60px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(151, 151, 151);
}

input,
button {
    outline: none;
}

.linksRow > * {
    border: 0;
    margin-top: 7px;
	margin-left: 0px;
	margin-right: 0px;
    padding: 3px 10px;
    height: 30px;
	float:right;
}

.linksRow > span,
.linksRow > a
{
	margin-right:25px;
}

.linksRow > input[type=text]
{
   height: 39px;
   font-size: 16pt;
}

.linksRow > #searchBtn,
.linksRow > #advSearchBtn
{
    background: #D8D8D8;
    width: 80px;
	height:45px;
	font-size:12pt;
}

.linksRow > #searchBtn
{
	border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.linksRow > #advSearchBtn
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
	background-image: url(../images/advsearch.png);
	background-repeat: no-repeat;
	background-position: 19px 6px;
}

.btn
{
	overflow: hidden;
	white-space: nowrap;
	cursor:pointer;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;	
}

.btn:hover:not(#advSearchBtn)
{
	background-color: rgb(157, 170, 209) !important;
}

#advSearchBtn:hover
{
	background-color: rgb(157, 170, 209);
}

.activeButton
{
	background-color: #CF7070 !important;
}

.footerLink {
    text-decoration: none;
}
.copyright {
    font-size: smaller;
}
#topMenu {
    margin: 0 auto 0 auto;
    background: #3D3D3D;
    position: fixed;
    width: 100%;
    height: 62px;
    left: 0;
    top: 0;
    border-top: 0;
	padding-top: 3px;
	overflow:hidden;
}

#infoRow
{
    float: none;
    color:white;
    font-size:smaller;
    width: 100%;
    display: table;
}

#infoCell
{

}

#infoCell > span
{
    cursor: pointer;
}

.currentDate,
.currentTime
{
    color: white;
    position: fixed;
    right: 5px;
	display:none;
}


.currentDate
{
    top:11px;
}

.currentTime 
{
    top:39px;
}

#llumn
{
	padding-left:30px;
}

#feedbackButton
{
	width:70px;
/*    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 30px;*/
 	background: url(../images/feedback.png);
	background-repeat: no-repeat;
	background-position: right 8px top 6px;
}

  .responsiveButton
  {
    color: white;
    border: solid 1px #fff;
	border-radius: 3px;
    padding-top: 13px;
	padding-right:50px;
    padding-bottom: 0px;
    text-decoration: none;
	display:block;
  }
  
#profileButton
{
	width:150px;
	background: url(../images/menu.png), url(../images/dropdown.png);
	background-repeat: no-repeat, no-repeat;
	background-position: right 8px top 5px, 10px 11px;
}

#profileMenu
{
	position: fixed;
	top: 0px;
	left: 0px;
	background: #3D3D3D;
	border-left: solid 1px white;
	border-right: solid 1px white;
	border-bottom: solid 1px white;
	border-top: solid 1px #000;
	padding: 0;
}

#profileMenu > *
{
	cursor: pointer;
	
}

ul li {display:block;width: 100%;color: white;}
ul li:hover
{
	background-color: rgb(157, 170, 209);
	color:#000;
}


#registerButton
{
	width: 90px;
    /*padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;*/
	background: url(../images/register.png);
	background-repeat: no-repeat;
	background-position: right 8px top 6px;
/*	padding-right:50px;*/
}

#feedbackButton:hover,
#registerButton:hover,
#profileButton:hover
{
	background-color: rgb(100, 113, 153);
}

.newsTable a
{
    text-decoration: none;
}

.newsTable {
    margin: 0px;
    padding: 0px;
    width: 91%;
    margin: 0 auto;
    border: 1px solid rgba(61, 61, 61, 0.8); /*c1dad7;*/
	white-space: nowrap;
}
.newsTable table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    table-layout: fixed;
}
.newsTable table tbody tr:hover  td {
    background-color: rgba(110, 171, 5, 0.5);
} 

.newsTable table tbody tr
{
    height: 40px;
}

.newsTable table tbody tr td
{
    overflow: hidden;
    cursor: pointer;
}

.newsTable table thead tr
{
    height: 40px;
} 

.newsTable table tbody tr:nth-child(odd) {
    background-color: #f5fbfb;
}
.newsTable table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.newsTable table tbody td {
    vertical-align: middle;
    border: 1px solid rgba(61, 61, 61, 0.3);
    border-width: 0px 1px 1px 0px;
    padding: 7px;
    font-weight: normal;
    color: #000000;
}

.newsTable table thead tr:first-child th {
/*    background: -o-linear-gradient(bottom, #d5edee 5%, #d5edee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d5edee), color-stop(1, #d5edee));
    background: -moz-linear-gradient(center top, #d5edee 5%, #d5edee 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#d5edee", endColorstr="#d5edee");
    background: -o-linear-gradient(top, #d5edee, d5edee);*/
    background-color: rgba(5, 110, 171, .3);
/*    border: 0px 0.3 rgba(61, 61, 61, 0.3);*/
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 16px;
    color: #000000;
	font-weight: normal;
}

.sourceColumn
{
    width:50px;
}

.starColumn
{
    width: 50px;
}

.titleColumn
{
    width:100%;
}

.dateColumn
{
    width:170px;
}

.copyright > a
{
    text-decoration: none;
}


.ui-dialog-title
{
    float: right !important;
}

.ui-dialog-titlebar-close
{
    left: 0.3em !important;
    right:auto !important;
}

.ui-button-text
{
    font-weight: normal !important;
}

.ui-dialog-buttonset
{
    float: left !important;
}

.bigTextBox
{
    height: 25px;
    font-size:16px;
    direction:ltr;
    width:100%;
    margin-top:10px;
}

#registerStartButton
{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

#registerationFields
{
    display:none;
}

#advertisement
{
    display: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    line-height:200%;
    
    border-style: solid;
    border-width: 1px;
    
}

#alertDiv
{
    position: absolute;
    width:500px;
    margin-left:-250px;
    left:50%;
    display: none;
}

#profileLink > *
{
    text-decoration: none;
    color: white;
}

#profileMenu
{
    width: 150px;
}

#profileButton span.ui-button-icon-secondary
{
    right: auto;
    left: 0.5em;
}

#profileButton span.ui-button-text
{
    padding-right:0.6em;
    padding-left:2em;    
}

#profileMenu > *
{
    line-height: 400%;
}

.menuItem
{
    margin-right:10px;
	padding-right: 40px;
	display:inline-block;
}

a#alternativeRegisterLink
{
	display:inline-block;
	width: 150px;
	height:30px;
	vertical-align:middle;
	text-align: center;
    border: solid 1px rgb(100,30,30);
    padding: 10px;
    background-color: rgb(250, 63, 63);
    color: white;
    text-decoration: none;
	font-weight: bold;
	transition: all 0.5s ease 0s;
}

a#alternativeRegisterLink:hover
{	
    background-color: #333;
}



#logoImage
{
	border-style:none;
}

#topLogo
{
		margin-top:4px;
}

#profileMenuItem
{
 	background: url(../images/profile.png);
	background-repeat: no-repeat;
	background-position: right 0px top 8px;
}


#newsletterMenuItem
{
 	background: url(../images/newsletter.png);
	background-peat: no-repeat;
	background-position: right 0px top 8px;
}

#signOutMenuItem
{
 	background: url(../images/signout.png);
	background-repeat: no-repeat;
	background-position: right 0px top 8px;
}

.dialogTitle
{
	text-align: center;
	padding: 10px;
	width: 150px;
	border: 0;
	background-color: rgb(228, 228, 228);
}


input[type=text]:not(#searchBox):focus,
input[type=password]:focus
{
	background-color: rgb(255, 237, 237);
	border: dotted 1px;
}